@model Shop.Models.ProductViewModel

@{
    ViewBag.Title = "Редактирование номенклатуры";
}

<h2 class="bg-info">Изменить номенклатуру</h2>

@using (Html.BeginForm("SaveProduct", "Manage", FormMethod.Post))
{

    <div class="panel panel-default panel-body">

        @Html.HiddenFor(m=>m.ProductImageId)

        <div class="form-group">

            <div class="col-md-2">
                @Html.DisplayNameFor(m => m.Id)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(m => m.Id)
                @Html.ValidationMessageFor(m => m.Id)
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-2">
                @Html.DisplayNameFor(m => m.Name)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-2">
                @Html.DisplayNameFor(m => m.ShortDescription)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(m => m.ShortDescription)
                @Html.ValidationMessageFor(m => m.ShortDescription)
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-2">
                @Html.DisplayNameFor(m => m.Description)
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>


        </div>

        <div class="form-group">

            <div class="col-md-2">
                @Html.DisplayNameFor(m => m.ProductTypeId)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ProductTypeId, ViewBag.ProductTypesList as SelectList)
                @Html.ValidationMessageFor(m => m.ProductTypeId)
            </div>

        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-10">
            <input type="submit" value="Сохранить" />
        </div>

    </div>


}



