@model IEnumerable<Shop.Models.ProductViewModel>


    @{
        ViewBag.Title = "Номенклатура";
    }

    <h2 class="bg-info">Номенклатура</h2>

<table class="table table-bordered">
    <tr>
        <th>Группа</th>
        <th>Код</th>
        <th>Наименование</th>
        <th>Изображение</th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var product in Model)
        {

            <tr>
                <td>@product.ProductType.Name</td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>
                    <a href=@Url.Action("LoadImage", "Manage",new {productId = product.Id })>
                        @if (product.ProductImageId != null)
                        {
                        <img src=@Url.Action("GetImage", "Service", new { Area = "", imageId = product.ProductImageId }) alt="@product.Name" style="max-height:40px" />
                        }
                        else {
                            <b>Добавить</b>
                        }
                    </a>

                </td>
                <td><b>@Html.ActionLink("Изменить","EditProduct",new { productId = product.Id })</b></td>
            </tr>

        }
    }


</table> 

    
<input type="button" value="Добавить" onclick="location.href='@Url.Action("AddProduct")'"/>

