@using DAL.Model
@model Shop.Models.CatalogViewModel

<div class="container" style="margin: 5px;">
    <div class="col-md-3">

        @Html.Partial("ProductTypes", Model.ProductTypes)

    </div>
    <div class="container col-md-9">

        @if (Model.CurrentProductType != null)
        {
            <div class="alert bg-primary"><b>@Model.CurrentProductType.Name</b></div>
        }

        <div class="row">

            @if (Model != null)
            {
                int elementsPerRow = 3;

                int count = 0;
                foreach (var product in Model.Products)
                {

                    <div class="col-md-4 bg-info">
                        <div class="thumbnail" onclick="OpenProductModalDialog(@product.Id)">
                            <img src=@Url.Action("GetImage", "Service", new { Area = "", imageId = product.ProductImageId }) alt="@product.Name">
                            <div class="caption">
                                <div class="col-md-6"><b>@product.Name</b></div>
                                <div class="col-md-6"><b>Цена: @product.Price.ToString("c")</b></div>
                            </div>
                            <div class="caption">
                                @product.ShortDescription
                            </div>
                        </div>
                    </div>

                    count++;

                    if (count % elementsPerRow == 0)
                    {
                        @:</div><div class="row">
                    }
                }
            }

        </div>

        <ul class="pager">
            @if (Model != null)
            {
                <li>
                    @Html.ActionLink("Назад", "Catalog",
                             new
                             {
                                 page = Math.Max(0, Model.CurrentPage - 1),
                                 groupId = Model.CurrentProductType?.Id
                             })
            </li>
            <li>@Html.ActionLink("Дальше", "Catalog", new { page = Model.CurrentPage + 1, groupId = Model.CurrentProductType?.Id })</li>
        }
        </ul>

    </div>

</div>

<div class="modal fade" id="productModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Карточка товара</h4>
            </div>
            <div class="modal-body">
                <div id="productContent"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>

    function OpenProductModalDialog(productId) {

        $.ajax({
            type: "GET",
            url: "@Url.Action("Product", "Catalog")",
            data: "productId= " + productId,
            success: function (data) {
                document.getElementById('productContent').innerHTML = data;
                $('#productModal').modal('show');
            }
        });

    }

    function AddToCart(productId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddToCart", "Catalog")",
            data: "productId= " + productId,
            success: function(p1,p2) {

                if (p2 === 'success') {

                    var message = $('#alertMessage');
                    message.addClass('alert alert-success');
                    message.html("Товар добавлен в корзину!");

                    setTimeout(function () {
                        var message = $('#alertMessage');
                        message.removeClass('alert alert-success');
                        message[0].innerHTML = '';
                    }, 3000);

                }
                else {

                    var message = $('#alertMessage');
                    message.addClass('alert alert-info');
                    message.html("Не удалось добавить товар в корзину, возможно Вы не авторизованы!");

                    setTimeout(function () {
                        var message = $('#alertMessage');
                        message.removeClass('alert alert-info');
                        message[0].innerHTML = '';
                    }, 3000);

                }
            },
            error:function(p1, p2) {

                console.log(p1);
                console.log(p2);

                alert("произошла ошибка");

            }
        });
    }

</script>
