@using DAL.Model
@model Shop.Models.CatalogViewModel

<div class="container" style="margin: 5px;">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/Catalog">Каталог</a></li>
            @if (Model != null)
            {
                foreach (var pType in @Model.ProductTypes)
                {
                    <li>@Html.ActionLink(pType.Name,"Catalog",new {groupId=pType.Id})</li>
                }
            }
        </ul>
                    
    </div>
    <div class="container col-md-9">
        
        @if (Model.CurrentProductType != null)
        {
            <div class="bg-info"><h2>@Model.CurrentProductType.Name</h2></div>
        }

        <div class="row">

            @if (Model != null)
            {
                int elementsPerRow = 3;

                int count = 0;
                foreach (var product in Model.Products)
                {

                var src = "#";

                if (product.ProductImageId != 0)
                {
                    src = Url.Action("GetImage", "Service", new { Area = "", imageId = product.ProductImageId });
                }

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href=@src target="_blank">
                                <img src=@src alt="@product.Name">
                                <div class="caption">
                                    <p>@product.ShortDescription</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    count++;

                    if (count % elementsPerRow == 0)
                    {
                        @:</div><div class="row">
                    }
                }
            }

        </div>

        <ul class="pager">
            @if (Model != null) { 
                <li>@Html.ActionLink("Назад","Catalog",
                   new{
                       page = Math.Max(0, Model.CurrentPage - 1),
                        groupId = Model.CurrentProductType?.Id
                   })</li>
                <li>@Html.ActionLink("Дальше","Catalog",new{page = Model.CurrentPage + 1, groupId = Model.CurrentProductType?.Id })</li>
            }
        </ul>

    </div>

</div>

